{{- if and .features.tmux (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -e

. "{{ .chezmoi.sourceDir }}/script-helpers.sh"
require_homebrew

installing_feature "tmux"

info "Installing tmux packages..."
install_packages <<EOF
brew "tmux"
EOF

# vim: syntax=bash filetype=bash
{{ end -}}
