{{- if and .features.ruby (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -e

. "{{ .chezmoi.sourceDir }}/script-helpers.sh"
require_homebrew

installing_feature "Ruby"

install_packages <<BUNDLE
brew "chruby"
brew "ruby-install"
BUNDLE

ruby-install --latest

# vim: syntax=bash filetype=bash
{{ end -}}
