{{- if and .features.gnupg (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -e

. "{{ .chezmoi.sourceDir }}/script-helpers.sh"
require_homebrew

installing_feature "GnuPG"

install_packages <<EOF
brew "gnupg"
brew "pinentry-mac"
cask "gpg-suite-no-mail"
EOF

# vim: syntax=bash filetype=bash
{{ end -}}
