{{/* feature flag default values */}}
{{- $gnupg := false -}}
{{- $java  := false -}}
{{- $ruby  := true  -}}
{{- $rust  := true  -}}

{{/* preserve feature flag edits */}}
{{- with .features -}}
{{-   if hasKey . "gnupg" -}}
{{-     $gnupg = .gnupg -}}
{{-   end -}}
{{-   if hasKey . "java" -}}
{{-     $java = .java -}}
{{-   end -}}
{{-   if hasKey . "ruby" -}}
{{-     $ruby = .ruby -}}
{{-   end -}}
{{-   if hasKey . "rust" -}}
{{-     $rust = .rust -}}
{{-   end -}}
{{- end -}}

{{/* prompt for email address */}}
{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if stdinIsATTY -}}
{{-   $email = promptString "email" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
email = {{ $email | quote }}

  [data.features]
  gnupg = {{ $gnupg }}
  java = {{ $java }}
  ruby = {{ $ruby }}
  rust = {{ $rust }}
