{{/* feature flag default values */}}
{{- $gnupg := false -}}
{{- $java  := false -}}
{{- $ruby  := true  -}}
{{- $rust  := true  -}}

{{/* preserve feature flag edits */}}
{{- with .features -}}
{{-   if hasKey . "gnupg" -}}
{{-     $gnupg = .gnupg -}}
{{-   end -}}
{{-   if hasKey . "java" -}}
{{-     $java = .java -}}
{{-   end -}}
{{-   if hasKey . "ruby" -}}
{{-     $ruby = .ruby -}}
{{-   end -}}
{{-   if hasKey . "rust" -}}
{{-     $rust = .rust -}}
{{-   end -}}
{{- end -}}

{{/* prompt for common configuration options */}}
{{- $email := promptStringOnce . "email" "email address" -}}
{{- $work := promptBoolOnce . "work" "work machine" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

{{/* age encryption */}}
{{- $age_key_file := joinPath .chezmoi.homeDir ".config/age/me.key.txt" -}}
{{- if stat $age_key_file -}}
encryption = "age"

[age]
identity = {{ $age_key_file | quote }}
recipient = "age1wx4x86nt97ya4tfmfhkpj8urfylwlqg8vjg206wy0w2jn9d57sfsc76efl"

{{ end -}}

[data]
email = {{ $email | quote }}
work = {{ $work }}
onepasswordAccount = "E7LGR7SZ3VHB5PVJ5TE2MOTTRE"

  [data.features]
  gnupg = {{ $gnupg }}
  java = {{ $java }}
  ruby = {{ $ruby }}
  rust = {{ $rust }}
