[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/liquid"]
	path = vim/bundle/liquid
	url = https://github.com/kpitt/vim-liquid.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/scala"]
	path = vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/ps1"]
	path = vim/bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/taskpaper"]
	path = vim/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "tag-rust/vim/pack/rust/start/rust.vim"]
	path = vim/syntax/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/plugins/editorconfig-vim"]
	path = vim/plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/syntax/vim-kitty"]
	path = vim/syntax/vim-kitty
	url = https://github.com/fladson/vim-kitty.git
