[submodule "vim/vimfiles/bundle/fugitive"]
	path = vim/vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfiles/bundle/repeat"]
	path = vim/vimfiles/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vimfiles/bundle/surround"]
	path = vim/vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/commentary"]
	path = vim/vimfiles/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vimfiles/bundle/liquid"]
	path = vim/vimfiles/bundle/liquid
	url = https://github.com/kpitt/vim-liquid.git
[submodule "vim/vimfiles/bundle/markdown"]
	path = vim/vimfiles/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vimfiles/bundle/molokai"]
	path = vim/vimfiles/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vimfiles/bundle/scala"]
	path = vim/vimfiles/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/vimfiles/bundle/badwolf"]
	path = vim/vimfiles/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/vimfiles/bundle/ps1"]
	path = vim/vimfiles/bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/vimfiles/bundle/coffee-script"]
	path = vim/vimfiles/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vimfiles/bundle/zenburn"]
	path = vim/vimfiles/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/vimfiles/bundle/iceberg"]
	path = vim/vimfiles/bundle/iceberg
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "vim/vimfiles/bundle/taskpaper"]
	path = vim/vimfiles/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "vim/vimfiles/bundle/emmet"]
	path = vim/vimfiles/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vimfiles/bundle/typescript"]
	path = vim/vimfiles/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
