{{ if .work -}}
machine {{ index (urlParse (onepasswordRead "op://Work/MF Artifactory API - SWINFRA/website")) "hostname" }}
    login {{ onepasswordRead "op://Work/MF Artifactory API - SWINFRA/username" }}
    password {{ onepasswordRead "op://Work/MF Artifactory API - SWINFRA/password" }}
{{ end -}}
