{{ if .work -}}
machine {{ index (urlParse (onepasswordRead "op://Work/MF Artifactory API/website")) "hostname" }}
    login {{ onepasswordRead "op://Work/MF Artifactory API/username" }}
    password {{ onepasswordRead "op://Work/MF Artifactory API/password" }}
{{ end -}}
