{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure that we are in the dotfiles directory.
cd "{{ .chezmoi.sourceDir }}"
DOTFILES_ROOT=$(pwd)

set -eo pipefail

. "{{ .chezmoi.sourceDir }}/script-helpers.sh"

# Ensure that Homebrew doesn't send analytics during install.
export HOMEBREW_NO_ANALYTICS=1
# Don't show environment hints during install.
export HOMEBREW_NO_ENV_HINTS=1

# The bootstrap script also installs Homebrew, but we check again here
# in case the bootstrap scipt wasn't used.
info "Checking for Homebrew..."
if command_does_not_exist brew; then
  info "Installing Homebrew..."
  stay_awake_while /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  # Check the location of the `brew` command because install path is
  # different for Apple Silicon.
  BREW_COMMAND=/usr/local/bin/brew
  if command_does_not_exist $BREW_COMMAND; then
    BREW_COMMAND=/opt/homebrew/bin/brew
  fi
  # Make sure Homebrew is in the path.
  eval "$($BREW_COMMAND shellenv)"
else
  info "Homebrew is already installed."
fi

info "Installing Homebrew packages..."
brew tap homebrew/bundle
quietly_brew_bundle Brewfile --verbose
# Brewfile.casks exits 1 sometimes but didn't actually fail
quietly_brew_bundle Brewfile.casks || true

if ! echo "$SHELL" | grep -Fq zsh; then
  info "Your shell is not Zsh. Changing it to Zsh..."
  chsh -s /bin/zsh
fi

stay_awake_while ./system/osx-settings

green "== Success!"

yellow "== Post-install instructions =="
yellow "You must log out and back in for updated settings to take effect"
yellow "before proceeding with manual installation steps."

# vim: syntax=bash filetype=bash tw=0
{{ end -}}
