{{ if .work -}}
{{   onepasswordRead "op://Work/Work SSH Key/public key" .onepasswordAccount }}
{{ else -}}
{{   onepasswordRead "op://Private/Personal SSH Key/public key" .onepasswordAccount }}
{{ end -}}
