{{ if .work -}}
{{   onepasswordRead "op://Work/Work SSH Key/id_ed25519" .onepasswordAccount }}
{{ else -}}
{{   onepasswordRead "op://Private/Personal SSH Key/id_ed25519" .onepasswordAccount }}
{{ end -}}
